<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OpenData Gym</title>

        <base href="/" />

        {% include 'stylesheets.html' %}

        <style>
            #map {
                height: 100%;
            }

            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id="map"></div>

        {% include 'javascripts.html' %}

        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: {lat: 41.8781685, lng: 12.4954534},
                    mapTypeId: 'roadmap'
                });

                $.get({
                    url: 'http://localhost:8000/api/datasets/italy/roma_incidenti_2014/',
                    data: {'file_delimiter': 'sc'},
                    success: function(data) {
                        var heatmapData = [];
                        for (var i = 0; i < data.length; i++) {
                            var latitude = Number(data[i].LATITUDINE.replace(',', '.'));
                            var longitude = Number(data[i].LONGITUDINE.replace(',', '.'));
                            if (!isNaN(latitude) && !isNaN(longitude)) {
                                var latLng = new google.maps.LatLng(latitude, longitude);
                                heatmapData.push(latLng);
                            }
                        }
                        var heatmap = new google.maps.visualization.HeatmapLayer({
                            data: heatmapData,
                            dissipating: false,
                            map: map
                        });
                    }
                })
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=visualization&callback=initMap"></script>
    </body>
</html>